trunk/wcf-pubsub-logger/LoggerClientLibrary/Service References/LoggerSubscriptionService/LoggerSubscriptionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:i0="http://algobox.net/PubSubLogger/LogPublisher" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="LoggerSubscriptionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://algobox.net/PubSubLogger/LogPublisher" location="http://liqtest01.options-it.com/PubSubLogger/LoggerSubscriptionService.svc?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://liqtest01.options-it.com/PubSubLogger/LoggerSubscriptionService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://liqtest01.options-it.com/PubSubLogger/LoggerSubscriptionService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://liqtest01.options-it.com/PubSubLogger/LoggerSubscriptionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LoggerLibrary.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILoggerSubscriptionService_Subscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Subscribe" />
  </wsdl:message>
  <wsdl:message name="ILoggerSubscriptionService_Subscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="ILoggerSubscriptionService_Unsubscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Unsubscribe" />
  </wsdl:message>
  <wsdl:message name="ILoggerSubscriptionService_Unsubscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnsubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="ILoggerSubscriptionService_LoggingEvent_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:LoggingEvent" />
  </wsdl:message>
  <wsdl:message name="ILoggerSubscriptionService_StatisticEvent_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:StatisticEvent" />
  </wsdl:message>
  <wsdl:message name="ILoggerSubscriptionService_CounterEvent_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:CounterEvent" />
  </wsdl:message>
  <wsdl:portType name="ILoggerSubscriptionService">
    <wsdl:operation name="Subscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/ISubscriptionService/Subscribe" message="tns:ILoggerSubscriptionService_Subscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISubscriptionService/SubscribeResponse" message="tns:ILoggerSubscriptionService_Subscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Unsubscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/ISubscriptionService/Unsubscribe" message="tns:ILoggerSubscriptionService_Unsubscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISubscriptionService/UnsubscribeResponse" message="tns:ILoggerSubscriptionService_Unsubscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoggingEvent">
      <wsdl:output wsaw:Action="http://tempuri.org/ILoggerSubscriptionService/LoggingEvent" message="tns:ILoggerSubscriptionService_LoggingEvent_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="StatisticEvent">
      <wsdl:output wsaw:Action="http://tempuri.org/ILoggerSubscriptionService/StatisticEvent" message="tns:ILoggerSubscriptionService_StatisticEvent_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="CounterEvent">
      <wsdl:output wsaw:Action="http://tempuri.org/ILoggerSubscriptionService/CounterEvent" message="tns:ILoggerSubscriptionService_CounterEvent_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="LoggerSubscriptionService">
    <wsdl:port name="tcpLogSubscriber" binding="i0:tcpLogSubscriber">
      <soap12:address location="net.tcp://localhost/PubSubLogger/tcpLogSubscriber" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost/PubSubLogger/tcpLogSubscriber</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="pipeLogSubscriber" binding="i0:pipeLogSubscriber">
      <soap12:address location="net.pipe://localhost/PubSubLogger/pipeLogSubscriber" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.pipe://localhost/PubSubLogger/pipeLogSubscriber</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>