wcf-pubsub-logger/LoggerClientLibrary/Service References/LoggerSubscriptionService/LoggerSubscriptionService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://algobox.net/PubSubLogger/2009/07" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="http://algobox.net/PubSubLogger/2009/07" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://algobox.net/PubSubLogger/2009/07/Imports">
      <xsd:import schemaLocation="http://liqtest01.options-it.com/PubSubLogger/LoggerSubscriptionService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://liqtest01.options-it.com/PubSubLogger/LoggerSubscriptionService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://liqtest01.options-it.com/PubSubLogger/LoggerSubscriptionService.svc?xsd=xsd2" namespace="http://algobox.net/PubSubLogger/2009/07" />
      <xsd:import schemaLocation="http://liqtest01.options-it.com/PubSubLogger/LoggerSubscriptionService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/LoggerHostLibrary.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILoggerSubscriptionService_Subscribe_InputMessage">
    <wsdl:part xmlns:q1="http://tempuri.org/" name="parameters" element="q1:Subscribe" />
  </wsdl:message>
  <wsdl:message name="ILoggerSubscriptionService_Subscribe_OutputMessage">
    <wsdl:part xmlns:q2="http://tempuri.org/" name="parameters" element="q2:SubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="ILoggerSubscriptionService_Unsubscribe_InputMessage">
    <wsdl:part xmlns:q3="http://tempuri.org/" name="parameters" element="q3:Unsubscribe" />
  </wsdl:message>
  <wsdl:message name="ILoggerSubscriptionService_Unsubscribe_OutputMessage">
    <wsdl:part xmlns:q4="http://tempuri.org/" name="parameters" element="q4:UnsubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="ILoggerSubscriptionService_Log_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Log" />
  </wsdl:message>
  <wsdl:message name="ILoggerSubscriptionService_Statistic_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Statistic" />
  </wsdl:message>
  <wsdl:message name="ILoggerSubscriptionService_Counter_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Counter" />
  </wsdl:message>
  <wsdl:portType name="ILoggerSubscriptionService">
    <wsdl:operation name="Subscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/ISubscriptionService/Subscribe" message="tns:ILoggerSubscriptionService_Subscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISubscriptionService/SubscribeResponse" message="tns:ILoggerSubscriptionService_Subscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Unsubscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/ISubscriptionService/Unsubscribe" message="tns:ILoggerSubscriptionService_Unsubscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISubscriptionService/UnsubscribeResponse" message="tns:ILoggerSubscriptionService_Unsubscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Log">
      <wsdl:output wsaw:Action="http://algobox.net/PubSubLogger/2009/07/ILoggerSubscriptionService/Log" message="tns:ILoggerSubscriptionService_Log_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="Statistic">
      <wsdl:output wsaw:Action="http://algobox.net/PubSubLogger/2009/07/ILoggerSubscriptionService/Statistic" message="tns:ILoggerSubscriptionService_Statistic_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="Counter">
      <wsdl:output wsaw:Action="http://algobox.net/PubSubLogger/2009/07/ILoggerSubscriptionService/Counter" message="tns:ILoggerSubscriptionService_Counter_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>